INSTALL
aclocal.m4
ar-lib
autom4te.cache
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
py-compile
stamp-h1
test-driver

.deps
.libs

*.la
*.lo
*.pyc

Makefile
Makefile.in
